@(proposal:models.Proposal)

<p>Dear Maker,</p>
<p>We're sorry to inform you that your proposal "<strong>@proposal.title</strong>" for @Messages("longYearlyName") was <strong>refused</strong>.</p>
<p>Do keep in mind that we received more than 120 proposals and the available slots are very limited!</p>
<p></p>
<p>Proposal : <strong>@proposal.title</strong> [<strong>@Messages(proposal.talkType.id)</strong>]</p>
<p></p>
 <p>The selection has been particularly hard this year, we want to thank you for your commitment.</p>
  <p>Has we would still be glad to see you taking part of the event, here is a discount code for you to buy your conference ticket: "cfp-invite".</p>
<p>Registration details <a href="@ConferenceDescriptor.current().conferenceUrls.registration">@ConferenceDescriptor.current().conferenceUrls.registration</a>.</p>
<br>
<br>
<p>Kind regards,</p>
<p>The @Messages("longYearlyName") team</p>
<p></p>
